.logolock{
    background-image: url('https://i.imgur.com/BF2QgPk.png');
    background-repeat: no-repeat;  
    width:180px;
    height:180px; 
    left: 348px; 
    top: 705px; 
    position: fixed;   
    display: block;

}
